
@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Regular.ttf");
}


body{
    font-family:Montserrat; 
    text-transform: capitalize;
}

::selection{
    background-color: #333;
    color: #fff;
}

.nice-shadow {
    box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
}

.transition {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.btn-outline-teal {
    color: #20c997;
    border-color: #20c997;
}
.btn-outline-teal:hover {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
}
/* navbar */
nav.navbar.scrolled{
    background-color: #272833cc !important;
}
nav.navbar .navbar-nav .dropdown-menu{
    background-color: #272833;
    border-top: 2px solid #20c997;
}
nav.navbar .dropdown-item{
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
nav.navbar .dropdown-item:focus, .dropdown-item:hover{
    color: #fff !important;
    background-color: #20c997;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .nav-link:hover{
    color: #20c997;
}

/* header */
header{
    background-image: url('../images/bg_header.jpg');
    background-attachment: fixed;
	background-color: #272833;
	background-position: center;
	background-size: cover;
}
header .overlay{
    background-color: #272833cc;
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
}
/* projects section */
section.project{
    height: 939px;
    /* background-attachment: fixed; */
	background-color: #272833;
	background-position: center;
	background-size: cover;
}
section.project::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #e0e3ff85;
}
section.project .content{
    width: 25em;
    height: 100%;
    background-color: rgba(23, 24, 32, 0.95);
    z-index: 2;
    position: relative;
    top: -40px;
    left: -40px;
    opacity: 0;
    transition: all 0.8s;
}
section.project .content.appear{
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 0.5s;
}
section.project .content.right{
    border-right:5px solid #20c997;
}
section.project .content.left{
    border-left:5px solid #007bff;
    right: 0;
}
section.atom-project{
    background-image: url('../images/projects/atom.png');
}
section.yassen-project{
    background-image: url('../images/projects/yassen.png');
}
section.tecmag-project{
    background-image: url('../images/projects/tecmag.png');
}
section.dj-music-project{
    background-image: url('../images/projects/dj_music.png');
}
section.vezeeta-project{
    background-image: url('../images/projects/vezeeta.png');
}

@media (max-width: 992px) { 
    section.project {
        background-attachment: fixed;
        text-align: center;
    }
    section.project .content{
        height: auto;
        width: 100%;
    }
    section.project .content.right{
        border-top:5px solid #20c997;
        border-right: none;
    }
    section.project .content.left{
        border-top:5px solid #007bff;
        border-left: none;
    }
    section.project{
        display: flex;
        justify-content: center;
        align-items: end;
    }
}

/* footer */
footer{
    background-color: #272833;
}


@media (min-width: 576px) { }
@media (min-width: 768px) { }
@media (min-width: 992px) {  }
@media (min-width: 1200px) {  }

