- 
	const FRONTEND_SKILLS = [
		{
			title: 'HTML',
			icon: 'html5-plain-wordmark',
		},
		{
			title: 'CSS',
			icon: 'css3-plain-wordmark',
		},
		{
			title: 'Javascript',
			icon: 'javascript-plain',
		},
		{
			title: 'JQuery',
			icon: 'jquery-plain-wordmark',
		},
		{
			title: 'Bootstrap',
			icon: 'bootstrap-plain-wordmark',
		},
		{
			title: 'SASS',
			icon: 'sass-original',
		},
		{
			title: 'Gulp',
			icon: 'gulp-plain',
		},
		{
			title: 'React',
			icon: 'react-original-wordmark',
		},
		{
			title: 'Redux',
			icon: 'redux-original',
		},
		{
			title: 'Jest',
			icon: 'jest-plain',
		},
		{
			title: 'Typescript',
			icon: 'typescript-plain',
		},
		{
			title: 'Tailwindcss',
			icon: 'tailwindcss-original-wordmark',
		},
	]

section#skills.my-skills.py-5.my-5
	.container
		h2.header-with-point.text-center(data-text='Skills') My skills
		.row.mt-5
			.col-md-6.my-4
				.d-flex.align-items-center 
					div 
						<i class="fa-solid fa-wand-magic-sparkles fs-3 text-aurora"></i>
					div.mx-2.border-bottom.pb-2 
						h3.h4.mb-0 Frontend Developer
						span.text-muted Less than 2 year
				div
					.skills-wrapper.mt-5.d-flex.flex-wrap.display-3
						each skill, index in FRONTEND_SKILLS
							i(class=`m-3 devicon-${skill.icon} colored` data-aos='fade-up' data-aos-delay= (index+1) * 100 + 300 )
					
						.img.m-3
							img.img-fluid(src='images/skills/pug.webp' alt='pug.js' data-aos-delay=FRONTEND_SKILLS.length *100 + 100 data-aos='fade-up' width='70px')

			.col-md-6.my-4
				.d-flex.align-items-center 
					div 
						<i class="fa-solid fa-code fs-3 text-aurora"></i>
					div.mx-2.border-bottom.pb-2 
						h3.h4.mb-0 Backend Developer
						span.text-muted less than 1 year
				div
					.skills-wrapper.mt-5.d-flex.flex-wrap.display-3
						<i class="m-3 devicon-express-original-wordmark colored" data-aos='fade-up' data-aos-delay='300'></i>
						<i class="m-3 devicon-mongodb-plain-wordmark colored" data-aos='fade-up' data-aos-delay='400'></i>
						<i class="m-3 devicon-nodejs-plain-wordmark colored" data-aos='fade-up' data-aos-delay='500'></i>
						<i class="m-3 devicon-python-plain-wordmark colored" data-aos='fade-up' data-aos-delay='600'></i>
						.img.m-3
							img.img-fluid(src='images/skills/jwt.webp' alt='jwt' data-aos='fade-up' data-aos-delay='700' width='70px')

			.col-md-6.my-4
				.d-flex.align-items-center 
					div 
						<i class="fa-solid fa-toolbox fs-3 text-aurora"></i>
					div.mx-2.border-bottom.pb-2 
						h3.h4.mb-0 Tools
						span.text-muted useful utils
				div
					.skills-wrapper.mt-5.d-flex.flex-wrap.display-3
						<i class="m-3 devicon-markdown-original colored" data-aos='fade-up' data-aos-delay='300'></i>
						<i class="m-3 devicon-ubuntu-plain-wordmark colored" data-aos='fade-up' data-aos-delay='400'></i>
						<i class="m-3 devicon-vscode-plain-wordmark colored" data-aos='fade-up' data-aos-delay='500'></i>
						<i class="m-3 devicon-git-plain-wordmark colored" data-aos-delay='600' data-aos='fade-up'></i>
						<i class="m-3 devicon-github-original-wordmark colored" data-aos-delay='700' data-aos='fade-up'></i>

			.col-md-6.my-4
				.d-flex.align-items-center 
					div 
						<i class="fa-solid fa-graduation-cap fs-3 text-aurora"></i>
					div.mx-2.border-bottom.pb-2 
						h3.h4.mb-0 Learning
						span.text-muted In Progress
				div
					.skills-wrapper.mt-5.d-flex.flex-wrap.display-3
						<i class="m-3 devicon-graphql-plain-wordmark colored" data-aos='fade-up' data-aos-delay='300'></i>
						<i class="m-3 devicon-materialui-plain colored" data-aos='fade-up' data-aos-delay='400'></i>
						<i class="m-3 devicon-nextjs-original-wordmark colored" data-aos='fade-up' data-aos-delay='500'></i>
						<i class="m-3 devicon-socketio-original-wordmark colored" data-aos='fade-up' data-aos-delay='600'></i>
