/*  footer start */
footer {
  // background-color: $main-bg;
  padding: 15px;
  text-align: center;

  svg.bi-code-slash{
    color: #d73e48;
  }

  svg.bi-heart-fill {
    animation: pulse 1s ease-in-out infinite;
    color: #e31b23;
    margin: 0 5px;
    transition: all ease-in-out 0.7s;
  }
}