nav.navbar {
	transition: 0.5s;

	.navbar-brand {
		padding: 0;

		.root {
			font-family: Cascadia;
			text-transform: none;
			background: rgba($color: $main-color, $alpha: 0.1);
			border-radius: 0.2rem;
			color: $main-color;
			padding: 0.5rem;
			font-size: 1.3rem;
		}
	}
	.nav-item {
		margin: 0 10px;

		.nav-link {
			font-weight: bold;
			position: relative;
			transition: 0.3s;
			padding-top: 0;
			padding-bottom: 0;

			&::before {
				content: "";
				position: absolute;
				border: 2px solid transparent;
				width: calc(100% + 10px);
				height: calc(100% + 10px);
				border-radius: 25px;
				top: -5px;
				left: -5px;
				transition: 0.3s;
			}

			&.active,
			&:focus,
			&:hover {
				color: $main-color;
				background-color: rgba($main-color, 0.1);
				border-radius: 20px;

				&::before {
					border-color: $main-color;
				}
			}
			@media (max-width: 768px) {
				& {
					margin: 10px;
				}
			}
		}
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}

	.hamburger-svg {
		cursor: pointer;
		transition: transform 400ms;
		user-select: none;

		&.active {
			transform: rotate(45deg);

			.line {
				&.top {
					stroke-dashoffset: -68px;
				}
				&.bottom {
					stroke-dashoffset: -68px;
				}
			}
		}
		.line {
			fill: none;
			transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
			stroke: #000;
			stroke-width: 5.5;
			stroke-linecap: round;

			&.top {
				stroke-dasharray: 40 121;
			}

			&.bottom {
				stroke-dasharray: 40 121;
			}
		}
	}
}
