
doctype html 
// HTML5
html(lang="en")
	head

		// Document Title
		title Mohammed Taysser - Profile

		// Set character encoding for the document
		meta(charset="UTF-8")

		// Meta Description
		meta(name="description" content="Profile Design As Frontend Website For My Projects, Skills And More")
		meta(name="author" content="Mohammed Taysser")
		meta(name="keywords" content="HTML, CSS, JavaScript, Bootstrap, Frontend, Design, Profile, skills, projects")

		// To run web application in full-screen
		meta(name='apple-mobile-web-app-capable' content='yes')

		// Status Bar Style (see Supported Meta Tags below for available values)
		// Has no effect unless you have the previous meta tag
		meta(name='apple-mobile-web-app-status-bar-style' content='black')

		// for IE
		meta(http-equiv='X-UA-Compatible' content='IE=edge')

		// Viewport for responsive web design
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
						
		// style sheet
		link(rel='stylesheet' media='all' href='css/libs/bootstrap.min.css')
		link(rel='stylesheet' media='all' href='css/libs/aos.css')
		link(rel='stylesheet' media='all' href='css/libs/fontawesome.min.css')
		link(rel='stylesheet' media='all' href='css/libs/solid.min.css')
		link(rel='stylesheet' media='all' href='css/libs/brands.min.css')
		link(rel='stylesheet' media='all' href='css/libs/devicon.min.css')
		link(rel='stylesheet' media='all' href='css/style.min.css')

		// Recommended favicon format
		link(rel='icon' type='image/png' href='images/icons/favicon.png')
		link(rel='apple-touch-icon' type='image/png' href='images/icons/favicon.png')
		link(rel='mask-icon' href='images/icons/favicon.png' color='#0d6aa5')

		meta(name='msapplication-TileColor' content='#e80566')
		meta(name='theme-color' content='#e80566')

		//- PWA
		link(rel='manifest' href='manifest.json')
		<meta name="robots" content="index, follow">
		<link rel="canonical" href="https://github.com/mohammed-taysser"/>

		noscript You need to enable JavaScript to run this app.

body(data-bs-spy="scroll" data-bs-target="#js-navbar-tabs-id" data-bs-offset="0" class="load")

		include ../layouts/_loader

		include ../layouts/_back-to-top

		include ../layouts/_navbar

		include ../layouts/_header

		include ../components/_about-me

		include ../components/_my-skills

		include ../components/_my-projects

		include ../layouts/_footer

		script(defer src='js/libs/bootstrap.bundle.min.js')
		script(defer src='js/libs/aos.min.js')
		script(defer src='js/libs/mixitup.min.js')
		script(defer src='js/script.min.js')
