@mixin overlay($background: #777, $color: #fff, $opacity: 0.3) {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba($background, $opacity);
  color: $color;
}

// Sizing shortcuts
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}


@mixin border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: translate(-50%, -50%);
}

%button-template{
  appearance: none;
  border: 0.05rem solid;
  border-radius: 0.1rem;
  cursor: pointer;
  display: inline-block;
  font-size: .9rem;
  height: 1.8rem;
  line-height: 1.8rem;
  outline: none;
  padding: 0.25rem 0.4rem;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 5px;
}

@mixin btn-outline ($color:tomato, $background:#fff) {
  background: $background;
  border-color: $color;
  color: $color;
  @extend %button-template;

  &:focus,
  &:hover {
    background: color.adjust($color, $lightness: 10%);
    border-color: color.adjust($color, $lightness: 15%);
    color: $background;
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem color.adjust($color, $lightness: 25%);
  }
  &:active,
  &.active {
    background: color.adjust($color, $lightness: -10%);
    border-color: color.adjust($color, $lightness: -15%);
    color: $background;
    text-decoration: none;
  }

  &[disabled],
  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}
@mixin btn ($color:tomato, $background:#fff) {
  background: $color;
  border-color: $color;
  color: $background;
  @extend %button-template;

  &:focus,
  &:hover {
    background: color.adjust($color, $lightness: 10%);
    border-color: color.adjust($color, $lightness: 15%);
    color: $background;
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem color.adjust($color, $lightness: 25%);
  }
  &:active,
  &.active {
    background: color.adjust($color, $lightness: -10%);
    border-color: color.adjust($color, $lightness: -15%);
    color: $background;
    text-decoration: none;
  }

  &[disabled],
  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}
