@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: Cascadia;
	src: url("../fonts/CascadiaCode.ttf");
}

@font-face {
	font-family: LavishlyYours;
	src: url("../fonts/LavishlyYours-Regular.ttf");
}

body {
	font-family: Montserrat, sans-serif;
	text-transform: capitalize;
	position: relative;
}

::selection {
	background-color: $main-color;
	color: #fff;
}

a {
	color: $main-color;
	&:hover {
		color: rgba($color: $main-color, $alpha: 0.9);
	}
}

a.bg-underline {
	background-image: linear-gradient(
		transparent 50%,
		rgba($main-color, 0.2) 50%
	);
	text-decoration: none;
	background-size: 0% 100%;
	background-repeat: no-repeat;
	will-change: background-size;
	transition: background-size 0.3s cubic-bezier(0.645, 0.645, 0.355, 1);

	&:hover {
		background-size: 100% 100%;
	}
}

.special-header {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 40px;
	font-size: 2rem;
	font-weight: bolder;

	&::after,
	&::before {
		content: "";
		position: absolute;
		display: block;
		border-radius: 3px;
	}

	&::after {
		width: 120px;
		height: 3px;
		background: #f2f2f2;
		bottom: -3px;
		left: 0;
	}

	&::before {
		width: 40px;
		height: 5px;
		left: 40px;
		bottom: -4px;
		z-index: 1;
		background-color: $main-color;
	}

	&.text-center {
		&::after {
			left: calc(50% - 60px);
		}

		&::before {
			left: calc(50% - 20px);
		}
	}
}

/* shadow */
.nice-shadow {
	box-shadow: 0 3px 15px rgba(22, 41, 124, 0.1);
}

/* colors */
.text-aurora {
	color: $main-color;
}

.bg-aurora {
	background-color: $main-color;
}

/* animation */
.border-transform {
	animation: border-transform 10s linear infinite alternate forwards;
}

.about-me-section {
	position: relative;

	.about-me {
		position: relative;

		&::before {
			content: "";
			height: 100%;
			width: 62%;
			background-color: $main-color;
			position: absolute;
			bottom: 0;
			left: 0;
			clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);
			z-index: -1;
			transition: all 0.3s ease-in-out;
		}
	}

	.shapes {
		.networking-shape {
			position: absolute;
			right: 0;
			bottom: 0;
			opacity: 0.1;
			width: 200px;
		}
		.wave-shape {
			position: absolute;
			left: 15px;
			bottom: 25px;
		}
		.points-shape {
			position: absolute;
			top: -30px;
			left: -30px;
		}
	}
}

.header-with-point {
	position: relative;

	&.text-center {
		&::after {
			left: 50%;
			transform: translate(-50%);
		}
		&::before {
			left: 43%;
		}
	}

	&::before {
		content: "";
		height: 7px;
		width: 7px;
		background: $main-color;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -15px;
		border: none;
		border-radius: 50%;
		z-index: 2;
	}

	&::after {
		content: attr(data-text);
		position: absolute;
		top: -65px;
		left: 0;
		display: inline-block;
		font-family: LavishlyYours, cursive;
		font-size: 100px;
		line-height: 130px;
		color: $main-color;
		opacity: 0.2;
		pointer-events: none;
	}
}

.runner-btn {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: $main-color;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	margin-top: 40px;
	letter-spacing: 4px;

	&:hover {
		background: $main-color;
		color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba($main-color, 0.8), 0 0 25px rgba($main-color, 0.6),
			0 0 50px rgba($main-color, 0.4), 0 0 100px rgba($main-color, 0.2);
	}

	span {
		position: absolute;
		display: block;

		&:nth-child(1) {
			top: 0;
			left: -100%;
			width: 100%;
			height: 2px;
			background: linear-gradient(90deg, transparent, $main-color);
			animation: btn-anim1 1s linear infinite;
		}

		&:nth-child(2) {
			top: -100%;
			right: 0;
			width: 2px;
			height: 100%;
			background: linear-gradient(180deg, transparent, $main-color);
			animation: btn-anim2 1s linear infinite;
			animation-delay: 0.25s;
		}

		&:nth-child(3) {
			bottom: 0;
			right: -100%;
			width: 100%;
			height: 2px;
			background: linear-gradient(270deg, transparent, $main-color);
			animation: btn-anim3 1s linear infinite;
			animation-delay: 0.5s;
		}

		&:nth-child(4) {
			bottom: -100%;
			left: 0;
			width: 2px;
			height: 100%;
			background: linear-gradient(360deg, transparent, $main-color);
			animation: btn-anim4 1s linear infinite;
			animation-delay: 0.75s;
		}
	}
}

@keyframes btn-anim1 {
	0% {
		left: -100%;
	}
	50%,
	100% {
		left: 100%;
	}
}

@keyframes btn-anim2 {
	0% {
		top: -100%;
	}
	50%,
	100% {
		top: 100%;
	}
}

@keyframes btn-anim3 {
	0% {
		right: -100%;
	}
	50%,
	100% {
		right: 100%;
	}
}

@keyframes btn-anim4 {
	0% {
		bottom: -100%;
	}
	50%,
	100% {
		bottom: 100%;
	}
}

.my-skills {
	.skills-wrapper {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		.img {
			position: relative;

			&:focus::after,
			&:hover::after {
				opacity: 1;
				transform: translate(-50%, -0.2rem);
			}

			&::after {
				background: $main-color;
				border-radius: 0.1rem;
				bottom: 100%;
				color: #fff;
				content: attr(data-tooltip);
				display: block;
				font-size: 1rem;
				left: 50%;
				max-width: 320px;
				opacity: 0;
				overflow: hidden;
				padding: 0.2rem 0.4rem;
				pointer-events: none;
				position: absolute;
				text-overflow: ellipsis;
				transform: translate(-50%, 0.4rem);
				transition: opacity 0.2s, transform 0.2s;
				white-space: pre;
				z-index: 300;
			}

			img {
				width: 80px;
				height: 80px;
				object-fit: contain;
				position: relative;
			}
		}
	}
}
