footer.py-4.nice-shadow.text-center.text-muted
  .container
    | Copyright &copy; 2021-
    span#js-current-year 000
    |  All rights reserved
    span.mx-2 |
    <i class="fa-solid fa-code"></i>
    span.mx-1 with
    <i class="fa-solid fa-heart"></i>
    | &#x9;&#x9;&#x9;&#x9;by 
    a.bg-underline(href='https://github.com/Mohammed-Taysser' target='_blank' rel='noopener')
      | Mohammed
      | Taysser
