header.hero-header {
	position: relative;
	margin-top: 98px;
	background-color: #f5f5f5;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.main-heading {
		color: #000;
	}

	& > .container > .row {
		min-height: calc(100vh - 98px);
	}
}
