header.hero-header {
	position: relative;
	margin-top: 98px;
	background-color: #fafbfc;
	overflow: hidden;

	.hero-content {
		z-index: 1;
	}

	.main-heading {
		color: #1a1a2e;
	}

	& > .container > .row {
		min-height: calc(100vh - 98px);
	}
}
