body.dark {
	--text-color: #fff;
	--bg-color: #111827;

	background-color: var(--bg-color);
	color: var(--text-color);

	.text-muted,
	.text-dark {
		color: var(--text-color) !important;
	}

	nav.navbar {
		background-color: var(--bg-color) !important;

		.hamburger-svg .line {
			stroke: var(--text-color);
		}

		.offcanvas {
			background-color: var(--bg-color);
		}

		.nav-item {
			.nav-link {
				color: #fff;
			}
		}
	}

	.my-projects,
	.my-blogs {
		.single-item {
			background-color: rgba(44, 49, 68, 0.678);
		}
	}
}

.dark-mode-container {
	svg {
		width: 30px;
		height: 30px;
		stroke-linecap: round;
		stroke-linejoin: round;
		fill: none;
		stroke-width: 2px;
		cursor: pointer;

		&.sun {
			stroke: #f0c644;

			.lines {
				transform-origin: 12px 12px;
				-webkit-animation: dark-mode-sun 20s linear infinite;
				animation: dark-mode-sun 20s linear infinite;
			}
		}
		&.moon {
			stroke: #2c3144;

			.star-1,
			.star-2 {
				stroke: #f0c644;
			}
			.star-1 {
				transform-origin: 15px 3px;
				-webkit-animation: dark-mode-star-1 5s linear infinite;
				animation: dark-mode-star-1 5s linear infinite;
			}

			.star-2 {
				transform-origin: 21px 9px;
				-webkit-animation: dark-mode-star-2 5s linear infinite;
				animation: dark-mode-star-2 5s linear infinite;
			}
		}
	}
}
